extends ./layouts/master.pug
block content
    .container
        hr
        ul.nav.nav-pills
            li: a(href="" data-block="login") Login
            li: a(href="" data-block="register") Register
            li.hide: a(href="") Logout
        hr
        .row
            .col-lg-offset-4.col-lg-4.content
                form.register.hide
                    h2.text-info.text-center Register
                    .form-group
                        label(for="name") Name
                        p.text-danger.hide
                        input(type="text" name="name" data-id="name" class="form-control")
                    .form-group
                        label(for="email") Email
                        p.text-danger.hide
                        input(type="text" name="email" data-id="email" class="form-control")
                    .form-group
                        label(for="password") Password
                        p.text-danger.hide
                        input(type="password" name="password" data-id="password" class="form-control")
                    .form-group
                        label(for="r-password") Retype-Passowrd
                        p.text-danger.hide
                        input(type="password" name="r-password" data-id="r-password" class="form-control")
                    .form-group
                        button Register
                form.login.hide
                    h2.text-info.text-center Login
                    .form-group
                        label(for="email") Email
                        p.text-danger.hide
                        input(type="text" name="email" data-id="email" class="form-control")
                    .form-group
                        label(for="password") Password
                        p.text-danger.hide
                        input(type="password" name="password" data-id="password" class="form-control")
                    .form-group
                        button Login



