<!DOCTYPE html>
html(lang="en")
    include ../partials/meta.pug
    body
        include ../partials/header.pug
        block content
        include ../partials/sidebar.pug
        include ../partials/footer.pug
        include ../partials/scripts.pug