// Bulma
@import "~bulma/bulma.sass";

html, body {
    height: 100%;
    position: relative;
}

.word {
    padding-top: 20px;
    padding-bottom: 20px;
}

.survay-table {
    cursor: pointer;
}

.showing {
    display: block !important;
}

.greeting, .trainer {
    display: none;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}